{{!--  Category specific layout  --}}
{{#nav_name_lambda}}{{record.id}}{{/nav_name_lambda}}
{{#variable_lambda}}__breadcrumb__|
<div class="container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{record.name}}</li>
        </ol>
    </nav>
</div>
{{/variable_lambda}}
{{> _layout }}